/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container1{
        padding: 0px 50px;
    }

    .container2{
        padding: 0px 50px;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-top: 30px;
    }

    .menu{
        display: none;
        background: #304FFE;
        width: 100%;
        position: absolute;
        padding: 15px 30px;
        top: 90px;
        left: 0px;
    }
    
    .hamburger-menu{
        display: block;
    }
    .hamburger-menu a{
        display: block;
        font-size: 25px;
        text-decoration: none;
        color: white;
    }
    
    .menu ul li{
        display: block;
    }

    .header-banner h1 span{
        display: inline-block;
    }

    .header-banner p{
        width: 100%;
    }

    .hiw-items{
        flex-basis: 100%;
        text-align: center;
        margin: 20px 0px;
        padding: 0;
    }

    .heading-and-taglines p{
        width: 100%;
        padding-bottom: 80px;
    }

    .wcu-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .wcu-items img{
        margin: 30px 0px; 
    }

    .team-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .plan-wrap{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    .plan-item{
        margin: 30px 0px;
        padding: 30px 40px;
    }

    .news-wrap{
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .news-items{
        flex-basis: 45%;
        margin: 20px 0px;
    }

    .footer-widget-wrap{
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 70px 0px 0px 0px;
    }
    
    .footer-item1{
        flex-basis: 45%;
        margin: 20px 0px;
    }
    
    .footer-item3{
        flex-basis: 45%;
        margin: 20px 0px;
    }
    
    .footer-item4{
        flex-basis: 45%;
        padding-left: 20px;
        margin: 20px 0px;
    }

    .subscribe-form-wrap{
        width: 100%;
        margin: auto;
        display: flex;
    }

    .video-button-wrap{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        
        padding-bottom: 120px;
        padding-top: 40px;
    }

    .subscribe p{
        width: 100%;
    }

    .testimonial-item p{
        width: 80%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container1{
        padding: 0px 50px;
    }

    .container2{
        padding: 0px 50px;
    }

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 30px;
    }

    .menu{
        display: block;
        background: transparent;
        width: auto;
        position: unset;
        padding: 0;
    }
    
    .hamburger-menu{
        display: none;
    }
    .hamburger-menu a{
        display: block;
        font-size: 25px;
        text-decoration: none;
        color: white;
    }
    
    .menu ul li{
        display: inline-block;
    }

    .header-banner h1 span{
        display: inline-block;
    }

    .header-banner p{
        width: 100%;
    }

    .hiw-items{
        flex-basis: 45%;
        text-align: center;
        margin: 20px 0px;
        padding: 0;
    }

    .heading-and-taglines p{
        width: 75%;
        padding-bottom: 80px;
    }

    .wcu-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .wcu-items img{
        margin: 30px 0px; 
    }

    .team-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .plan-wrap{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    .plan-item{
        margin: 30px 0px;
        padding: 30px 0px;
    }

    .news-wrap{
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .news-items{
        flex-basis: 45%;
        margin: 20px 0px;
    }

    .footer-widget-wrap{
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 70px 0px 0px 0px;
    }
    
    .footer-item1{
        flex-basis: 45%;
        margin: 20px 0px;
    }
    
    .footer-item3{
        flex-basis: 45%;
        margin: 20px 0px;
    }
    
    .footer-item4{
        flex-basis: 45%;
        padding-left: 20px;
        margin: 20px 0px;
    }

    .subscribe-form-wrap{
        width: 450px;
        margin: auto;
        display: flex;
    }

    .video-button-wrap{
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-bottom: 120px;
        padding-top: 40px;
    }

    .subscribe p{
        width: 75%;
    }

    .testimonial-item p{
        width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container1{
        padding: 0px 50px;
    }

    .container2{
        padding: 0px 50px;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-top: 30px;
    }

    .menu{
        display: block;
        background: transparent;
        width: auto;
        position: unset;
        padding: 0;
    }
    
    .hamburger-menu{
        display: none;
    }
    .hamburger-menu a{
        display: block;
        font-size: 25px;
        text-decoration: none;
        color: white;
    }
    
    .menu ul li{
        display: inline-block;
    }

    .header-banner h1 span{
        display: block;
    }

    .header-banner p{
        width: 60%;
    }

    .hiw-items{
        flex-basis: 28%;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .heading-and-taglines p{
        width: 75%;
        padding-bottom: 80px;
    }

    .wcu-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .wcu-items img{
        margin: 30px 0px; 
    }

    .team-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .plan-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .plan-item{
        margin: 20px 0px;
        padding: 30px 0px;
    }

    .news-wrap{
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .news-items{
        flex-basis: 31%;
        margin: 0;
    }

    .footer-widget-wrap{
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 70px 0px 0px 0px;
    }
    
    .footer-item1{
        flex-basis: 20%;
        margin: 0;
    }
    
    .footer-item3{
        flex-basis: 35%;
        margin: 0;
    }
    
    .footer-item4{
        flex-basis: 25%;
        padding-left: 20px;
        margin: 0;
    }

    .subscribe-form-wrap{
        width: 450px;
        margin: auto;
        display: flex;
    }

    .video-button-wrap{
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-bottom: 120px;
        padding-top: 40px;
    }

    .subscribe p{
        width: 70%;
    }

    .testimonial-item p{
        width: 50%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container1{
        padding: 0px 50px;
    }

    .container2{
        padding: 0;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-top: 30px;
    }

    .menu{
        display: block;
        background: transparent;
        width: auto;
        position: unset;
        padding: 0;
    }
    
    .hamburger-menu{
        display: none;
    }
    .hamburger-menu a{
        display: block;
        font-size: 25px;
        text-decoration: none;
        color: white;
    }
    
    .menu ul li{
        display: inline-block;
    }

    .header-banner h1 span{
        display: block;
    }

    .header-banner p{
        width: 60%;
    }

    .hiw-items{
        flex-basis: 28%;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .heading-and-taglines p{
        width: 75%;
        padding-bottom: 80px;
    }

    .wcu-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .wcu-items img{
        margin: 30px 0px; 
    }

    .team-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .plan-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .plan-item{
        margin: 0;
        padding: 30px 0px;
    }

    .news-wrap{
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .news-items{
        flex-basis: 31%;
        margin: 0;
    }

    .footer-widget-wrap{
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 70px 0px 0px 0px;
    }
    
    .footer-item1{
        flex-basis: 20%;
        margin: 0;
    }
    
    .footer-item3{
        flex-basis: 35%;
        margin: 0;
    }
    
    .footer-item4{
        flex-basis: 25%;
        padding-left: 20px;
        margin: 0;
    }

    .subscribe-form-wrap{
        width: 450px;
        margin: auto;
        display: flex;
    }

    .video-button-wrap{
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-bottom: 120px;
        padding-top: 40px;
    }

    .subscribe p{
        width: 70%;
    }

    .testimonial-item p{
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* hero section stylling start */

.hero{
    background-image: url('../images/pexels-andrea-piacquadio-3760067.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .overlay{
    width: 100%;
    background-color: #5066f3de;
}

.container1{
    max-width: 1000px;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 30px;
}

.menu{
    display: block;
    background: transparent;
    width: auto;
    position: unset;
    padding: 0;
}

.hamburger-menu{
    display: none;
}
.hamburger-menu a{
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: white;
}



.logo img{
    height: 28px;
}

.menu ul li{
    display: inline-block;
}
.menu ul li a{
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}

.header-banner{
    padding-top: 130px;
}

.header-banner h1{
    font-size: 40px;
    padding-bottom: 40px;
    color: white;
}
.header-banner h1 span{
    display: block;
}


.header-banner p{
    font-size: 16px;
    font-weight: 300;
    width: 60%;
    color: white;
    line-height: 25px;
}

.video-button-wrap{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 120px;
    padding-top: 40px;
}

.video-button-wrap a{
    display: inline-block;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.video-button-wrap a i{
    font-size: 12px;
    line-height: 40px;
    color: #5069f5;
}

.video-button-wrap p{
    font-weight: 400;
    
}
.video-button-wrap p span{
    display: inline-block;
    font-weight: 300;
    margin-left: 10px;
}

.banner-bottom-icon{
    text-align: center;
}
.banner-bottom-icon i{
    display: inline-block;
    font-size: 18px;
    color: white;
    cursor: pointer;
    padding-bottom: 30px;
}

/* hero section stylling stop */


/* how it work section stylling start */

.how-it-work{
    padding: 100px 0px;
}

.sub-heading{
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 50px;
    color: #b2b2b2;
}
.heading-and-taglines h2{
    text-align: center;
    font-size: 35px;
    padding-bottom: 80px;
    color: #4c4c4c;
}
.heading-and-taglines p{
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
    color: #666666;
    width: 75%;
    margin: auto;
    padding-bottom: 80px;
}

.hiw-wrap{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hiw-items{
    flex-basis: 28%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.hiw-items h3{
    font-size: 16px;
    padding-bottom: 20px;
    color: #304ffe;
}
.hiw-items p{
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #5c6dc9;
}

/* how it work section stylling stop */


/* why choose us section stylling start */

.why-choose-us{
    padding: 40px 0px 150px 0px;
}

.container2{
    max-width: 800px;
    margin: auto;
}

.why-choose-us h2{
    text-align: center;
    font-size: 35px;
    padding-bottom: 80px;
    color: #4c4c4c;
}

.wcu-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.wcu-left,
.wcu-right{
    flex-basis: 24%;
    margin: 0;
}

.wcu-items img{
    height: 35px;
    width: auto;
    margin: 0;
    
    
}

.wcu-items h3{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    padding: 18px 0px 15px 0px;
    color: #4c4c4c;
}
.wcu-items p{
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    padding-bottom: 40px;
    color: #808080;
    
}

.wcu-img{
    flex-basis: 38%;
    
}

.wcu-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;

    -webkit-box-shadow: 0px 5px 24px -7px rgba(0,0,0,0.28);
-moz-box-shadow: 0px 5px 24px -7px rgba(0,0,0,0.28);
box-shadow: 0px 5px 24px -7px rgba(0,0,0,0.28);
}


/* why choose us section stylling stop */


/* team section stylling start */

.team{
    background-image: url('../images/pexels-andrea-piacquadio-3760067.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
    
.team .overlay{
    width: 100%;
    background-color: #5066f3de;
    padding: 80px 0px 30px 0px;
}

.team h2{
    text-align: center;
    font-size: 35px;
    padding-bottom: 60px;
    color: white;
}

.team-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.team-members{
    flex-basis: 40%;
    display: flex;
    align-items: center;
    padding: 0px 0px 40px 0px;
   
}

.team-members img{
    height: 120px;
    width: 120px;
    margin-right: 30px;
}

.member-description h3{
    font-size: 20px;
    padding-bottom: 10px;
    color: white;
    
}
.member-description p{
    font-size: 16px;
    font-weight: 300;
    color: white;
    
}

/* team section stylling stop */


/* plan section stylling start */
.plan{
    padding: 100px 0px;
}

.plan h2{
    text-align: center;
    font-size: 35px;
    padding-bottom: 60px;
    color: #4c4c4c;
}

.plan-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.plan-item{
    text-align: center;
    border: 1px solid #d8d8d8;
    padding: 30px 0px;
    margin: 0;
}

.plan-item h5{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    
}

.plan-item h1{
    font-size: 60px;
    line-height: 90px;
    color: #304ffe;
    
}

.plan-item p{
    font-size: 16px;
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid #d8d8d8;
    border-radius: 50px;
    margin-bottom: 20px;
    color: #666666;
}

.plan-item ul{
    border-top: 1px solid #d8d8d8;
    padding: 15px;
}

.plan-item ul li{
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    color: #666666;
}

.plan-item a button{
    border: 1px solid #d8d8d8;
    border-radius: 60px;
    cursor: pointer;
    background: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 16px;
    color: #666666;
    
}


/* plan section stylling stop */


/* subscribe section stylling start */

.subscribe{
    background-image: url('../images/pexels-andrea-piacquadio-3760067.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.subscribe .overlay{
    width: 100%;
    background-color: #5066f3de;
    padding: 100px 0px 250px 0px;
}

.subscribe h2{
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
    color: white;
}

.subscribe .underline{
    height: 1px;
    background-color: #fff;
    width: 80px;
    margin: auto;
    margin-top: 5px;
}

.subscribe p{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    width: 70%;
    margin: auto;
    color: white;
    line-height: 25px;
    padding: 25px 0px;
}

.subscribe-form-wrap{
    width: 450px;
    margin: auto;
    display: flex;
}

.subscribe-form-wrap input:nth-child(1){
    width: 100%;
    margin-right: 8px;
    font-weight: 300;
    padding: 9px 20px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    outline: none;
}
.subscribe-form-wrap input:nth-child(2){
    padding: 9px 25px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    font-weight: 400;
    outline: none;
    background-color: rgb(173, 173, 173);
    color: white;
    
}

/* subscribe section stylling stop */


/* testimonial section stylling start */


.testimonial-item{
    background-color: #fff;
    text-align: center;
    padding: 40px 0px;
    z-index: 3;
    margin-top: -150px;

    -webkit-box-shadow: 0px 6px 26px -1px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 6px 26px -1px rgba(0,0,0,0.25);
box-shadow: 0px 6px 26px -1px rgba(0,0,0,0.25);
}

.testimonial-item img{
    height: 80px;
    width: 80px;
}
.testimonial-item p{
    width: 50%;
    margin: auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    padding: 30px 0px;
    color: #666666;
}

.testimonial-item h4{
    font-size: 16px;
    color: #304ffe;
    padding-bottom: 30px;
}

.testimonial-item a{
    display: inline-block;
    background-color: rgb(202, 202, 202);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 2px;
}

.testimonial-item .active{
    background-color: #304ffe;
}


/* testimonial section stylling stop */


/* news section stylling start */

.news{
    padding: 150px 0px 100px 0px;
    z-index: 2;
}

.news h2{
    text-align: center;
    font-size: 35px;
    padding-bottom: 60px;
    color: #4c4c4c;
}

.news-wrap{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
}

.news-items{
    flex-basis: 31%;
    border: 1px solid #d8d8d8;
    margin: 0;
}

.news-items .bg-image{
    height: 150px;
    width: 100%;
    background-image: url('../images/pexels-fotografierende-2787216.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay-color{
    background-color: #5066f3a1;
    width: 100%;
    height: 100%;
}

.news-item-content{
    padding: 20px 15px;
}

.news-item-content h5{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #666666;
}

.news-item-content h3{
    font-size: 16px;
    padding: 25px 0px;
    color: #4c4c4c;
    
}
.news-item-content p{
    font-size: 16px;
    font-weight: 300;
    color: #666666;
    
}

.load-more{
    text-align: center;
    padding-top: 25px;
}

.load-more a{
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #666666;
    border: 1px solid #d8d8d8;
    padding: 15px 30px;
    border-radius: 60px;
}


/* news section stylling stop */


/* footer section stylling start */

.footer{
    background-color: #dfdfdf;
}

.footer-widget-wrap{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 70px 0px 0px 0px;
}

.footer-item1{
    flex-basis: 20%;
    margin: 0;
}

.footer-item3{
    flex-basis: 35%;
    margin: 0;
}

.footer-item4{
    flex-basis: 25%;
    padding-left: 20px;
    margin: 0;
}


.footer-item1 ul li a{
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    padding-bottom: 15px;
    color: #666666;
}

.footer-item3 h5, .footer-item4 h5{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #666666;
    padding-bottom: 20px;
}

.footer-subscription{
    display: flex;
    width: 75%;
    background-color: white;
    border-radius: 50px;
}


.footer-subscription input{
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: transparent;
}

.footer-subscription button{
    font-size: 16px;
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: transparent;
    color: #666666;
    cursor: pointer;
}

.footer-item4 a{
    display: inline-block;
    font-size: 16px;
    color: #808080;
    line-height: 30px;
    padding-right: 10px;
}

.footer-wrap p{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    color: #666666;
    padding-top: 40px;
    padding-bottom: 20px;
}



/* footer section stylling stop */
}